IntroMaterial/.idea
IntroMaterial/.ipynb_checkpoints
IntroMaterial/backpack-hi.png
lab-01/.ipynb_checkpoints
lab-02/.idea
lab-03/.idea
lab-03/cats_and_dogs_small
lab-03/flowers
lab-03/flowers_split
lab-03/kaggle_original_data
lab-03/flowers-recognition.zip
lab-03/simple-cnn-lab03-data-aug.h5
lab-03/simple-cnn-lab03-pretrained.h5
lab-03/simple-cnn-lab03-pretrained-transformer.h5
lab-03/simple-cnn-lab03.h5
lab-04/__pycache__
lab-04/NER-data
lab-04/conlleval
lab-04/glove.6B.100d.txt
lab-04/output-lstm.txt
lab-04/output-rnn.txt
lab-04/.idea
lab-05/__pycache__
lab-05/.ipynb_checkpoints
lab-05/MNIST_Light
lab-05/Main_MNIST.py
lab-05/MNIST.py